*pycache*
*cpp_lib.cpython*
*egg-info*
data
datas
videos
results
dist
experiments

random_stuff
lovelace
notas
workspaces

examples/ring/stokes/big_test
examples/ring/stokes/data_test

tests/data_test/ring/test/*

src/phystem/cpp/tests_ui/build
src/phystem/cpp/tests_ui/ui/build
src/phystem/cpp/tests_ui/ui/deps
