*pycache*
*cpp_lib.cpython*
data
datas
results
random_stuff
*egg-info*
dist

notas

examples/ring/area_test/data
examples/ring/checkpoint
examples/ring/stress
examples/ring/ring_intersect
examples/ring/stokes/videos
examples/ring/stokes/big_test
examples/ring/stokes/data_test

examples/ring/invagination/videos

tests/data_test/ring/test/*

src/phystem/cpp/tests_ui/build
src/phystem/cpp/tests_ui/ui/build
src/phystem/cpp/tests_ui/ui/deps