#header {
    position: static;
    height: auto;
}

#header nav {
    max-width: none;
    background: none;
    margin: 0 auto;
    padding: 0 10px;
}

#header nav ul li.fork {
    float: right;
    margin-left: 0px;
}

#header nav ul li a:hover {
    color: #f5b100;
    border-radius: 7px;
    background: none;
    background-color: #292928;
    border: none;
    box-shadow: none;
}

#header nav ul li a {
    color: white;
    border: none;
    background: none;
    border-radius: none;
    box-shadow: none;
    background-color: none;
    padding: 10px 12px;
    margin-top: 6px;
    line-height: 14px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
}

#header nav ul li a.current {
    color: rgb(253, 165, 0);
}

section {
    margin-top: auto;
}

.docs_container {
    display: flex;
}

.docs_sidebar {
    width: 200px;
    border-right: 1px solid #ccc;
    padding: 20px;
}

.docs_content {
    /* max-width: 800px; */
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin-right: auto;
}

.docs_content.div {
    background-color: #f5b100;
}

.docs_content_inner {
    max-width: 800px;
}

code {
    border-radius: 5px;
    background-color: #1e1b1b;
}

