---
---

@import "{{ site.theme }}";

#header {
    position: static;
    height: auto;
}

#header nav {
    max-width: none;
    background: none;
    margin: 0 auto;
    padding: 0 10px;
}

#header nav ul li.fork {
    float: right;
    margin-left: 0px;
}

#header nav ul li a {
    color: white;
    border: none;
    background: none;
    border-radius: none;
    box-shadow: none;
    background-color: none;
    padding: 10px 12px;
    margin-top: 6px;
    line-height: 14px;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    transition: 0.3s;
}

#header nav ul li a:hover {
    color: #f5b100;
    border-radius: 7px;
    background: none;
    background-color: #292928;
    border: none;
    box-shadow: none;
}

#header nav ul li a.current {
    color: rgb(253, 165, 0);
}

.fork a {
    text-decoration: underline;
    text-decoration-color: rgb(168, 167, 167);
    // text-decoration-style: dashed;
    // text-decoration-thickness: 2px;
}

section {
    margin-top: auto;
    text-align: justify;
}

#docs_sidebar ul li {
    padding: 0.15em;
    transition: 0.3s;
}

#docs_sidebar ul li.current {
    background: #444444;
    border-radius: 4px;
}

.docs_container {
    display: flex;
}

.docs_sidebar {
    width: 15em;
    border-right: 1px solid #423f3f;
    padding: 20px;
}

.docs_content {
    /* max-width: 800px; */
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin-right: auto;
}

.docs_content.div {
    background-color: #f5b100;
}

.docs_content_inner {
    max-width: 60em;
    text-align: justify;
}

code {
    border-radius: 5px;
    background-color: #1e1b1b;
}

